 @media screen and (max-width: 1280px)
{
    #bloc_page
    {
        width: 100%;
       flex-direction: column;
    }
    #plateforme nav 
    {
        width: 96%;
        height: 50px;
    }
    #plateforme nav ul
    {
        flex-direction: column;
        width: auto;
        margin-bottom: 5px;
        margin-top: 5px;
    }